{% extends 'bootstrap/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
  <div class="container text-center d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h1 class="text-center mb-4">Bienvenido{% if user.is_authenticated %}, {{ user.name }}{% endif %}!</h1>
        <div class="d-grid gap-3">
          {% if user.is_authenticated %}
            <a href="/logout" class="btn btn-primary btn-lg">Cerrar sesión</a>
            <a href="/token" class="btn btn-outline-primary btn-lg">mi token</a>
          {% else %}
            <a href="/login" class="btn btn-primary btn-lg">Iniciar sesión</a>
            <a href="/register" class="btn btn-outline-primary btn-lg">Registrarse</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

