<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
</head>
<body>

<form method="post">

    {{ form.hidden_tag() }}
    {{ form.name.label }}
    <br>
    {{ form.name(size=32) }}
    <br>
    {{ form.email.label }}
    <br>
    {{ form.email(size=32) }}
    <br>
    {{ form.password.label }}
    <br>
    {{ form.password(size=32) }}
    <br>
    {{ form.confirm_password .label }}
    <br>
    {{ form.confirm_password (size=32) }}
    <br>
    <br>
    {{ form.submit() }}
</form>

</body>
</html>